.board-admin{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:15px;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.board-admin-button-upd{
	background-color: rgb(62, 220, 62);
	border:1px solid white;
}

.board-admin-button-upd:hover{
	background-color: rgb(35, 236, 35);
}


.board-admin-button-del{
	background-color: rgb(139, 20, 20);
	border:1px solid white;
}

.board-admin-button-del:hover{
	background-color: rgb(196, 8, 8);
}