.board-admin{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:15px;
}

table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.158);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #375af3;
		font-weight: bold;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255, 255, 255, 0.083);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255, 255, 255, 0.053);
				z-index: -1;
			}
		}
	}
}

.board-admin-button-upd{
	background-color: #17B169;
	border:1px solid white;
}

.board-admin-button-upd:hover{
	background-color: #00563B;
}


.board-admin-button-del{
	background-color: #D2122E;
	border:1px solid white;
}

.board-admin-button-del:hover{
	background-color: #AA0000;
}