.product-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(to left bottom, #1a70ef, #1769e6, #1363dd, #0f5cd4, #0a56cb, #0752c4, #044ebe, #014ab7, #0147b1, #0045ab, #0042a6, #0040a0);  
    width: 75%;
    margin-left:12.5%;
    margin-right:12.5%;
    border-radius: 10px;
    margin-top:2.5%;
    border:1px solid white;
    padding:30px;
}

.product-page-title{
    font-weight: bold;
}

.product-page-img{
    border-radius: 10px;
}

.product-page-img-text{
    font-style: italic;
}

.product-page-texts{
    display:flex;
    flex-direction: column;
}