.footer{
    background-image: linear-gradient(to left bottom, #1a70ef, #1769e6, #1363dd, #0f5cd4, #0a56cb, #0752c4, #044ebe, #014ab7, #0147b1, #0045ab, #0042a6, #0040a0);    flex-direction: column;
    margin-top:40px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.list-footer-links{
    display: flex;
    flex-direction: row;
}

.list-footer-links li{
    padding:10px;
}