.footer{
    background-color: #0040A0;
    position: fixed;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.list-footer-links{
    display: flex;
    flex-direction: row;
}

.list-footer-links li{
    padding:10px;
}