


.image-logo{
    padding: 20px;
    width:75px;
    height:75px;
}

@media (prefers-reduced-motion: no-preference) {
    .image-logo{
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes image-logo{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
.list_link {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.list_link li {
    margin: 10px;
    color: aliceblue;
    font-style: bold;
}


.links{
    text-decoration: none;
    color: white;
}
